.fnt{
    margin-top: 150px;
    text-align: center;
    font-weight: 700;
}

.smallo {
    font-size: 25px;
}

.left {
    width: 100%;
    height: 500px;
    color: white;
    background: linear-gradient(66.09deg, #0041FF -3.72%, rgba(0, 65, 255, 0.52) 109.99%);
}

.right {
    width: 100%;
    height: 500px;
    color: white;
    background: #000000;
}

.boss1 {
    margin-left: 230px;
}

.boss2 {
    margin-left: 300px;
}